
:host /deep/ .data-table-row {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

._ngcontent-c102
{

  padding-right: 4px;
}
.headerop
{
  margin-left: 40%;
    
    font-size: 18px;
    background-color: lightgray;
}
.spinner {
  margin:  auto;
  margin-top:-100px;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
.alinvo
{
  margin-top: 2%;
      
    margin-left: 0%;
    border: 1px solid darkgrey;
    border-radius: 6px;
}
 p
{ font-size:50px;
    color:transparent;
  }
  

audio{
  visibility:hidden;
}
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect1 {
     background:#FEDD31;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect2 {
     background:#FEDD31;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
     background:#FEDD31;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
     background:#FEDD31;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
     background:#FEDD31;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.sk-circle {
  margin: 100px auto;
  width: 10px;
  height: 10px;
  position: relative;
  background:#000;
  border-radius:100%;
 left:-18px;
    -webkit-animation: sk 1.2s infinite ease-in-out;
}
   


@keyframes sk {
1% {
    top: -15px;
 
  }
  2% {
    top: 10px;
 
  }
  5% {
    top: -20px;
 
  }
   10% {
    left: -10px;
 
  }
   20% {
   top:-25px;
 
  }
  30% {
   left:15px;
       background:#FEDD31;
 
  }
  35% {
   top:5px;
 
  }
   45% {
   top:-5px;
 
  }
  50% {
   top:-5px;
 
  }
  
  60% {
   top:-6px;
 
  }
   70% {
   top:6px;
 
  }
   80% {
   top:6px;
 
  }
   60% {
   top:-6px;
 
  }
}
#printable { display: none; }

@media print
{
    #non-printable { display: none; }
    #printable { display: block; transform: scaleY(.7); transform: scaleX(.7); }
   /* #body {transform: scale(.7);}*/
    /*table {page-break-inside: avoid;} */
  
}