#printable { display: none; }

@media print
{
    #non-printable { display: none; }
    #printable { display: block; transform: scaleY(.7); transform: scaleX(.7); }
   /* #body {transform: scale(.7);}*/
    /*table {page-break-inside: avoid;} */
  
}

.shadow {
    min-height: 40%;
    box-shadow: 5px 5px 5px 5px 2 rgba(5,20,40,.2);
    border-radius: 4px;
    background-color: #e4e2d6;
}
form {
    display: block;
    margin-top: 0em;
}
.p_add_p_h
{
text-align: center;

}

.home
{
   font-family: cursive; 
      
    
}

.main-card
{
  width: 98%;
    margin-left: 1%;
    border: 2px solid;
    border-radius: 7px;

     background-color: #edf2f3;
         margin-top: 5px;

}
.sub-card
{

    margin-top: 2%;
    margin-bottom: 2%;
    color: #f1e6e6;
    background-color: purple;
}
.main-section
{
  width: 100%;
}

.header-row
{
      background-color: #bea;
    border: 1px solid;
    border-radius: 7px;
    margin-top: 5px;
    padding-bottom: 6px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 5px;
}
.span-row
{
      margin-left: 1%;
    width: 98%;
}
.down-span-row
{
  margin-left: 1.5%;
  margin-bottom: 2%;
  background-color: mistyrose;
  margin-top: 1.5%;
  font-size: 20px;
  margin-right: 1.5%;
}
.mar-sec
{
  margin-bottom: 10Px;
}
.bot-sec
{
      width: 98%;
    border: 2px solid;
    border-radius: 7px;
    margin-left: 1%;
    margin-top: 10px;
    font-size: 18px;
}


.fm{
padding-top: 3%;
}
.com-mat
{
width: 100%;
height: 100%;

}
       .gt2
       {
         text-align: center;
       }

       .add_but
       {
         margin-left: 75%;
       }