.css
{
    background-color: red;
}


.items-card
{
    
    height: 50px;

}


.item-card
{
     width: 99.4%;
    margin-left: 3px;
    height: 89%;
    padding-top: 11px;
    background-color: #e8ddc7;
 
   
   
}
