<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/dash">Home</a></li>
    <li class="breadcrumb-item"><a href="#/dash">Expense</a></li>
    <li class="breadcrumb-item active" aria-current="page">Expense Entry</li>
  </ol>
</nav>




<div class="tab">

  <!-- <button class="tablinks" (click)="openCity($event, 'London')" >Purchase Entry</button> -->
  <button class="tablinks" (click)="openCity($event, 'Paris')" id="defaultOpen">Add an expense</button>
  <button class="tablinks" (click)="openCity($event, 'Tokyo')">Add New Category</button>

</div>



<section id="London" class="tabcontent" style="width:100%; height:790px;display:inline-block;background-color:#f1f1f1">
   
   <div class="col-md-12">
  

    <div *ngIf="is_rec_no === 1" style="height: 30px;margin-left: 60%;font-size: 20px;font-weight: bold;">
     Expence Record No : {{ exp_invos.E_ENTRY_NUMBER }} 
    
    </div>
  </div>

   <div class="col-md-12" style="height: 20px;">
   </div>

 <div class="row"> 
    
     


          <div class="col-md-3" style="margin-top: -12px;">
          <label> Date : </label> 
         <div style="display:inline-block;">
         
          <mat-form-field>
           <input matInput [matDatepicker]="from_date"  placeholder="Select Bill Date" (dateInput)="cat_from_date(from_date)">
           <mat-datepicker-toggle matSuffix [for]="from_date"></mat-datepicker-toggle>
           <mat-datepicker #from_date></mat-datepicker>
         </mat-form-field>

         </div>
         </div>

       
    


         <div class="col-md-4">
            <label> Vendor Name : </label> 
            <div style="display:inline-block;">
            <input #boxss style="text-align:center;width:280px;font-size: 18px;border-color:#52c3bb;" class="form-control"  ngui-auto-complete  
              [source]="arrayOfvendorValues"  
                      placeholder="Description"  
                      (blur)="vendor_blur(boxss.value)" [(ngModel)]="vendsi"
                        list-formatter="(STREET) CUSTOMER_NAME"
                        display-property-name="CUSTOMER_NAME">
                        </div>
          
           </div>  



          <div class="col-md-3">
          <label> Bill No : </label> 
         <div style="display:inline-block;">
           <input  type="text" #boxs1 class="form-control"  style="width:220px;font-size: 18px;border-color:#52c3bb;"  
         (blur)="billno_blur(boxs1.value)">
         </div>
         </div>

           <div class="col-xs-1"> 
       
           <button mat-fab class="add_but" style="background-color: cadetblue;
           font-size: 24px;"  (keydown.f4)="removeItem(k)" (click)="addItem()"  (keydown.ArrowDown)="addItem(k)" >+</button>
       </div>  
    
   
         
    
     </div>



 <section   style="width:100%;height:25px;">
 </section>


<section>

    <mat-card class="header-card" >
            <div style="margin-top: -18px; display: inline-block;width: 13%;">SI </div> 
            <div style="display: inline-block; width: 17.5%;"> Description </div>
            <div style="display: inline-block; width: 10.5%;"> Category </div>
            <div style="display: inline-block; width: 2.5%;">  </div>
           
            <div style="display: inline-block; width: 8%;">Quantity</div>
            <div style="display: inline-block; width: 1%;">  </div>
           
           <div style="display: inline-block; width: 4.5%;">  </div>
         
            <div style="display: inline-block; width: 10%;"> Price </div> 
            <div style="display: inline-block; width: 4.5%;">  </div>
            <div style="display: inline-block; width: 10%;"> Net Price </div> 
        
           <div style="display: inline-block; width: 2%;"> 
               <button *ngIf="isPrint" [disabled]="item_remove_flag()" style="width:100%;" (click)="removeItem()">X</button>

           </div>   

</mat-card>  


</section>

<section style="display: inline-block;width: 100%;height: 10px"></section>

 <div class="items-card"  *ngFor="let item of exp_invos.ITEMS; let k=index " ng-animate="'slide-down'">
     <mat-card class="item-card">

          <div style=" width: 2%; display: inline-block; ">
              {{k+1}} 
         </div>

 <div style="width: 25%; display: inline-block; ">
  <input #autos style="width: 98%; text-align:center" class="form-control"   ngui-auto-complete #autos  
    [source]="arrayOfKeyValues"  
            placeholder="Description" (focus)="focus_one(k)"  
              (blur)="change_one(autos.value)"
              list-formatter="(HSN_CODE) [DESCRIPTION] "
              display-property-name="DESCRIPTION">

 </div>  

      <div style="width:1%; display:inline-block;"> </div>
    <!-- <div style="width:11%; display:inline-block;">
        
         <input [attr.disabled]="true"   style="text-align: center;" #box5 [(ngModel)]="item.HSN_CODE" size="10" placeholder="Hsn code"  > 
        
    </div> -->

    <div style="width:11%; display:inline-block;">

        <select class="form-control"  (focus)="focus_one(k)"   [(ngModel)]="item.CATEGORY"  id="cats">
                                 
            <option *ngFor="let cat of cats" [value]="cat">{{cat}}</option>
           </select>
        
        
       
    </div>


    <div style="width:1%; display:inline-block;"> </div>

  
 
    

   

  

    <div style=" width : 1%;   display: inline-block;">
    </div>
    
    <div style="width : 11%;display: inline-block;">
        
        <input type="number" value="0" #qty style="text-align:center;width: 85%;" class="form-control" size="8"  
         placeholder="Qty"  (focus)="focus_one(k)" 
            (keyup)="change_qty(qty.value)"
            [(ngModel)]="item.QUANTITY">  
           
           
       </div>
   

    <div style=" width : 2.5%;   display: inline-block;">
    </div>

     <div style=" width : 13%;   display: inline-block;">
        <input #price [(ngModel)]="item.PRICE" type="number" class="form-control" style="text-align:center;width: 68%;"
        (keyup)="change_price(price.value)" (focus)="focus_one(k)"  size="7" placeholder="Price" > 
            
    </div> 
     <div style=" width : 2%;   display: inline-block;">
    </div>
      <div style=" width : 15%;   display: inline-block;">
        <input  [attr.disabled]="true"  [(ngModel)]="item.NET_PRICE" class="form-control" style="text-align:center;width: 68%;"size="7" placeholder="Net Price" (focus)="focus_one(k)"  > 
            
    </div>


     <div style="width:2%; display:inline-block">
  
         <button   style="width:100%;" (keydown.f4)="addItem()" (click)="addItem()"  (keydown.ArrowUp)="removeItem(k)"
          (keydown.ArrowDown)="addItem(k)" >+</button>

   </div>


     </mat-card>

  </div> 


 <section   style="width:100%;display:inline-block;height:25px;">
 </section>


 <section style="width:100%;height: 40px;"> 

  <div style="width: 15%;height: 40px;display: inline-block">
    <label> CGST :  </label> 

    <input #CGST [(ngModel)]="exp_invos.CGST" type="number" class="form-control" style="text-align:center;width: 100%;"
        (keyup)="change_cgst(CGST.value)"   size="7" > 
    </div>


  <div style="width: 15%;height: 40px;display: inline-block">
    <label> SGST :  </label> 

    <input #SGST [(ngModel)]="exp_invos.SGST" type="number" class="form-control" style="text-align:center;width: 100%;"
        (keyup)="change_sgst(SGST.value)"   size="7" > 
  </div>
  <div style="width: 15%;height: 40px;display: inline-block">
    <label> IGST :  </label> 

    <input #IGST [(ngModel)]="exp_invos.IGST" type="number" class="form-control" style="text-align:center;width: 100%;"
        (keyup)="change_igst(IGST.value)"   size="7" > 
  </div>

 </section> 

<section   style="width:100%;display:inline-block;height:25px;">
<div  style="width:70%;display:inline-block;height:25px;">
</div>

<div  style="width:30%;display:inline-block;height:25px;">
Grand Total : {{ exp_invos.GRAND_TOTAL }}
</div>


 <section   style="width:100%;display:inline-block;height:25px;">
      <button   class="btn btn-primary" style="    margin-top: 3%;
    margin-left: 80%;" (click)="Save_purchase()">Save purchase</button>
 </section>

 </section>

       
</section>







 
<section id="Paris" class="tabcontent" style="width:100%; height:790px;display:inline-block;background-color:#f1f1f1">
  <div class="col-sm-12">

      <section  style="width:100%;display:inline-block;text-align: center;height: 25px;">

<h2 style="font-size: 22px;
font-weight: bold;
background-color:#cccfde">       Expence Record No : {{exp_entry_no}}  </h2>
 
</section>




<section id="non-printable" style="width:100%;display:inline-block;">
  
   <div class="col-md-12" style="height: 20px;">
   </div>

  <div class="row">

    
     


          <div class="col-md-3" style="margin-top: 12px;">
          <label> Date : </label> 
         <div style="display:inline-block;">
         
          <mat-form-field>
           <input matInput [matDatepicker]="to_date"  placeholder="Select Bill Date" (dateInput)="cat_to_date(to_date)">
           <mat-datepicker-toggle matSuffix [for]="to_date"></mat-datepicker-toggle>
           <mat-datepicker #to_date></mat-datepicker>
         </mat-form-field>

         </div>
         </div>

      <div class="col-md-4">


<label for="Category_name">Expence Type</label>
 <div class="form-group" style="margin-left:3%;">
         <select #option class="form-control" style="max-width: 315px;" (change)="change_opt(option.value)" id="unit">
                                 
                                               <option *ngFor="let purchase of purchases" [value]="purchase">{{purchase}}</option>
                                              </select>
   </div>

 </div>




  <div class="col-md-4">
      <label for="Category_name">Party Name</label>
         <input ngui-auto-complete #autos  type="text" class="form-control" 
             style="width:320px;font-size: 18px;border-color:#52c3bb;"  [source]="arrayOfvendorValues"    
            placeholder="Beneficiary Name"    
              (blur)="cus_blur(autos.value)"
              list-formatter="(STREET) CUSTOMER_NAME"
              display-property-name="CUSTOMER_NAME"> 


  </div>


  <div class="col-xs-1"> </div>
</div>


<div class="row">
   
 
  <div class="col-xs-2" style="margin-left: 1%;">
      <label for="bill_no">Vocher/Bill number</label>
      <input id="bill_no"   [(ngModel)]="exp_invos.Bill_no" type="text" class="form-control" placeholder="Bill No">
  </div>
 
       <div class="col-xs-1"> 
          
       </div>    


  <div class="col-xs-2" style="margin-left: 1%;">
      <label for="grant_amt">Amount</label>
      <input id="grant_amt"   [(ngModel)]="exp_invos.grand_total" type="text" class="form-control" placeholder="Amount">
  </div>
 
 <div class="col-md-3" style="margin-left: 1%;">
      <label for="remarks">Remarks</label>
      <input id="remarks"   [(ngModel)]="exp_invos.REMARKS" type="text" class="form-control" placeholder="Remarks">
  </div>




</div>

<button class="btn btn-primary pull-right" (click)="save_expense()" type="button"><span class="glyphicon glyphicon-ok"></span> Done</button>


</section>













     </div>
</section>




     
 <section id="Tokyo" class="tabcontent" style="width:100%; height:790px;display:inline-block;background-color:#f1f1f1;">
    
      <div class="col-sm-12">


  <mat-card class="col-sm-6"  style="background-color: #e0e0e0"> 

<mat-card-header style="margin-left: 22%">
<u> <h4>Add a New Expence Category</h4> </u>
</mat-card-header>


<mat-card-content>



<form [formGroup]="catForm">
  <div class="form-group fm">
    <label for="Category_name">Categoty Name</label>
    <input id="Category_name"  formControlName="Category_name" type="text" class="form-control" placeholder="Category  Name">
     <small [hidden]="catForm.controls.Category_name.valid" class="text-danger">
                                             Catogory Name is required (minimum 3 characters).
                                       </small>
  </div>
 

   



</form>


</mat-card-content>
 <button class="btn btn-primary pull-right" (click)="add_cat()" type="button"><span class="glyphicon glyphicon-ok"></span> Done</button>
</mat-card>
  

  
     </div>



     
 </section>
