
<section style="width: 100%;
    height: 75px;
    display: inline-block;
    font-family: monospace;
    font-weight: bold;" id="non-printable">
      
   <div style="width: 100%;
    height: 30px;
    font-size: 20px;
    display: inline-block;
    padding-left: 76%;">
  
  
    Net Total
    {{ sub_total | number : '1.2-2'}}
  </div>


  
   <div style="width: 100%;
    height: 30px;
    font-size: 20px;
    display: inline-block;
    padding-left: 76%;">
  
  
    Grant Total
    {{ grand_total | number : '1.2-2'}}
  </div>



    
</section>